@media (max-width: 480px) {
    
    .container_register {
        width: 100%;
        height: auto;
    
        font-family: "Merienda", cursive;
        color: rgb(143, 35, 35);
    
        background-image: url('img/23595.jpg');
        background-size: cover;
        background-position: center;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container_register_form form {
        height: auto;
        
    
        display: flex;
        flex-direction: column;
    
        padding: 3rem 2rem;
        margin: 7rem 0.3rem 0;
    
        border-radius: 20px;
    }
}