@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merienda:wght@300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_login_top {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: linear-gradient(to right, #121313, #000000);
    color: rgb(143, 35, 35);
    padding: 10px;
}
.container_login_top h2 {
    font-family: "Ubuntu", sans-serif;
}
.container_login_top h2 span {
    font-family: "Merienda", cursive;
}

.container_register, .container_register_form {
    width: 100%;
    height: 100vh;

    font-family: "Merienda", cursive;
    color: rgb(143, 35, 35);

    background-image: url('img/23595.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_register_form form, .data_dados {
    height: 80vh;
    backdrop-filter: blur(40px);

    display: flex;
    flex-direction: column;

    padding: 3rem 2rem;
    margin: 0 0.3rem;

    border-radius: 20px;
}

.container_register_form form label {
    font-size: 1.3rem;
    font-weight: 600;

    margin-top: 0.5rem;
}

.container_register_form form input {
    font-family: "Merienda", cursive;
    font-size: 1rem;

    padding: 0.5rem;

    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px silver solid;
    border-radius: 5px;
}

.container_register_form form input:hover {
    border-bottom: 3px black solid;
    transition: 0.7s;
}

.container_register_form form button {
    font-family: "Merienda", cursive;
    font-weight: 600;

    background: none;

    padding: 0.6rem;
    margin-top: 0.8rem;

    outline: none;
    border: 2px rgb(143, 35, 35) solid;
    border-radius: 5px;
}

.container_register_form form button:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px black solid;

    transition: 0.7s;
}

.container_register_form form span {
    margin: 0.2rem 0;
}

.situ {
    margin-top: 2rem;
    padding: 0.3rem 1rem;
    border: 2px greenyellow solid;
    border-radius: 14px;
    color: greenyellow;
}
.sua_classe {
    margin-top: 2rem;
    padding: 0.3rem 1rem;
    border: 2px red solid;
    border-radius: 14px;
    color: red;
}