@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merienda:wght@300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color-black: rgb(36, 32, 32);
    --color-red: rgb(255, 19, 19);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_login_top {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: linear-gradient(to right, #1c1d1d, #000000);
    color: rgb(143, 35, 35);
    padding: 10px;
}
.container_login_top h2 {
    font-family: "Ubuntu", sans-serif;
}
.container_login_top h2 span {
    font-family: "Merienda", cursive;
}


.container_login {
    width: 100%;
    height: 100vh;

    font-family: "Merienda", cursive;
    color: rgb(143, 35, 35);

    background-image: url('assets/img/23595.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container_login form {
    backdrop-filter: blur(50px);

    display: flex;
    flex-direction: column;

    padding: 3rem 2rem;

    border-radius: 20px;
}
.container_login form label {
    font-size: 1.3rem;
    font-weight: 600;

    margin-top: 0.5rem;
}
.container_login form input {
    width: 280px;

    font-family: "Merienda", cursive;
    font-size: 1.1rem;

    padding: 0.6rem;

    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px silver solid;
    border-radius: 5px;
}
.container_login form input:hover {
    border-bottom: 4px var(--color-black) solid;
    transition: 0.7s;
}
.container_login form button {
    font-family: "Merienda", cursive;
    font-weight: 600;
    color: rgb(143, 35, 35);

    background: none;

    padding: 0.6rem;
    margin-top: 0.8rem;

    outline: none;
    border: 2px rgb(143, 35, 35) solid;
    border-radius: 5px;
}
.container_login form button:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px black solid;

    transition: 0.7s;
}
.container_login #message {
    margin: 0.5rem 0 0;

    font-weight: 600;
    color: rgb(143, 35, 35);
}
.container_login form a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(143, 35, 35);

    padding-top: 0.6rem;
}
.container_login form a:hover {
    color: rgb(0, 0, 0);
    transition: 0.7s;
}